name: Typesense Indexer

on:
  workflow_dispatch: {}

env:
  ORG: auden-musulin-papers
  REPO: amp-search-indexer
  DATA_DIR: data/editions
  PROJECT: amp-indexer

jobs:
  fetch_data:
    name: Fetch Data from ${{ github.env.DATA_DIR }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache the site
        uses: actions/cache@v4
        env:
          cache-name: cache-site-build
        with:
          path: ./${{ github.env.DATA_DIR }}
          key:
            build-${{ env.cache-name }}-${{ hashFiles('**/fetch-data.sh') }}
          restore-keys: |
            build-${{ env.cache-name }}-
            build-
      - name: Fetch data
        run: ./shellscripts/fetch_data.sh

  typesense_index:
    needs: [fetch_data]
    name: Build Typesense Index
    runs-on: ubuntu-latest
    env:
      TYPESENSE_HOST: typesense.acdh-dev.oeaw.ac.at
      TYPESENSE_PORT: 443
      TYPESENSE_PROTOCOL: https
      TYPESENSE_API_KEY: ${{ secrets.TYPESENSE_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Cache
        uses: actions/cache@v4
        env:
          cache-name: cache-site-build
        with:
          path: ./${{ github.env.DATA_DIR }}
          key:
            build-${{ env.cache-name }}-${{ hashFiles('**/fetch-data.sh') }}
          restore-keys: |
            build-${{ env.cache-name }}-
            build-
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pipenv"
      - name: Install dependencies
        run: |
          python --version
          python -m pip install pipenv
          pipenv install
      - name: add attributes and denormalize
        run: |
          pipenv shell
          ./shellscripts/attributes.sh
          ./shellscripts/denormalize.sh
      - name: saxon preprocess
        run: |
          apt-get update && apt-get install openjdk-11-jre-headless ant -y --no-install-recommend
          ./shellscripts/dl_saxon.sh
          ant
      - name: Build and upload typesense index
        run: pipenv run python typesense/mk_index.py
